<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<%- include('./header.ejs') %>

<h1> Friends </h1>

<%- include('./flash.ejs') %>


<!-- ----------------------------------------------------------------------- -->
<!--                                Init                                     -->
<!-- ----------------------------------------------------------------------- -->

<form action="/friend" method="post" class="ui form">

    <div class="ui form">
        <div class="field">
            <label> Ajouter un nouvel ami </label>
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" 
                name="nameOfFriend" 
                placeholder = "Username">
            </div>
        </div>
        
        <button type="submit" class="ui blue labeled submit icon button">

            <i class="icon edit"></i> Ajouter

        </button>
    </div>
</form>

<p></p>
<p></p>

Your friends : 
<p></p>

<div class="ui cards">
    <% for (var i = 0; i < listOfFriend.length;  i++ ) { %>

        <div class="card">
            <div class="image-container">
            <img src="/assets/picture/perso<%=i%>.png" >
            </div>
            <div class="content">
            <div class="header"><%= listOfFriend[i] %></div>
            <div class="meta">
                <a>titre</a>
            </div>
            <div class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quas nisi nam, repellendus impedit asperiores maxime. Magnam assumenda amet voluptatem? Corporis possimus repudiandae exercitationem unde vitae molestias accusantium nobis ut.
            </div>
            </div>
            <div class="extra content">
            <span class="right floated">
                <form action="/delete-friend" method="post">
                    <input type="hidden" name="del" value="<%= listOfFriend[i] %>">
                    <button type="submit" class="ui mini red labeled submit icon button">
                        <i class="icon edit"></i>
                        supprimer
                    </button>
                </form>
            </span>
            <span>
                <i class="user icon"></i>
                123 Games
            </span>
            </div>
        </div>
    <% } %>
</div>

<%- include ('./menu.ejs') %>

<%- include ('./footer.ejs') %>