<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<%- include('./header.ejs') %>

<h1>  Home Page </h1>

<%- include ('./flash.ejs') %>

<% if(data.user == undefined || data.user == ''){ %>
    <%- include('./menu_off.ejs') %>
<%} else { %>
    <%- include('./menu.ejs') %>
<%}%>

<%- include('./footer.ejs') %>
