<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<%- include('./header.ejs') %>

<h1> 
    The Killer Legacy
    <p> Règles du Jeu </p>
</h1>

<%- include ('./flash.ejs') %>


<div class="container">
    
    <h2>Concept</h2>
    <p>
        <strong>Le jeu du Killer</strong> est un jeu de stratégie et de ruse où chaque joueur doit éliminer une cible désignée tout en évitant d'être éliminé lui-même.
    </p>

    <h2>Comment jouer</h2>
    <li>
        <strong>Distribution des cibles :</strong>
        <p>
            Chaque joueur reçoit, de manière aléatoire et secrète, le nom d'un autre joueur ainsi qu'une action à lui faire executer afin de l'éliminer.
        </p>
    </li>
    <p></p>
    <li>
        <strong>Éliminations :</strong>
        <p>
            Les joueurs doivent "tuer" leur cible en utilisant des gestes, des messages ou des interactions. 
            Lorsqu'un joueur élimine sa cible, il reçoit immédiatement une nouvelle cible à éliminer.
        </p>
    </li>
    <p></p>
    <li>
        <strong>Stratégie :</strong>
        <p>
            Utilisez la discrétion et la stratégie pour éviter d'être repéré par les autres joueurs tout en tentant d'éliminer votre cible.
        </p>
    </li>
    <p></p>
    <li>
        <strong>Victoire :</strong>
        <p>
            3 types de victoires :
        </p>
        <ol>
            Vous êtes encore en vie, félicitation vous êtes un <strong>Survivant</strong>
        </ol>
        <p></p>
        <ol>
            Vous avez le plus grand nombre de kill, alors vous êtes le <strong>Top Killer</strong>
        </ol>
        <p></p>
        <ol>
            Vous êtes encore en vie et vous avez le plus grand nombre de kill <span class="underline">des joueur encore en vie</span>, vous êtes désormais le <strong>Killer Alpha</strong>
        </ol>
        <p></p>
        <ol>
            Si vous êtes encore en vie et que vous avez le plus grand nombre de kill <span class="underline">de la partie</span>, vous mériter le titre prestigieux du <strong>Killer Suprême</strong>
        </ol>

    </li>
    

    <h2>Caractéristiques</h2>
    
    <li><strong>Jeux IRL</strong> : Communiquez avec les autres joueurs pour comploter ou bluffer.</li>

</div>


<% if(data.user == undefined || data.user == ''){ %>
    <%- include('./menu_off.ejs') %>
<%} else { %>
    <%- include('./menu.ejs') %>
<%}%>

<%- include('./footer.ejs') %>
