<%- include('../header.ejs') %>

<h1> <%= "Nom partie: " + game.name %> </h1> 

<%- include('../flash.ejs') %>

<% 
  const rawDate = game.end_date;

  const date = new Date(rawDate);
  
  const options = {
    weekday: undefined,
    year: 'numeric',
    month: 'long',
    day: 'numeric',
    hour: '2-digit',
    minute: '2-digit'
  };
  const formattedDate = date.toLocaleDateString('fr-FR', options);
%>


<div class="ui comments">
    
    <div class="content">

        <h3 class="ui dividing header"> Progression </h3>

        <div class="ui indicating progress" id="progressBar" data-value="0" data-total="100">
            
            <% if ((remaining < 10) && (remaining >= 0)) { %> 
                <div class="bar" style="width: 0%;"></div>

            <% } else if ((remaining < 20) && (remaining >= 10)) { %> 
                <div class="bar" style="width: 10%;"></div>

            <% } else if ((remaining < 30) && (remaining >= 20)) { %> 
                <div class="bar" style="width: 20%;"></div>

            <% } else if ((remaining < 40) && (remaining >= 30)) { %> 
                <div class="bar" style="width: 30%;"></div>

            <% } else if ((remaining < 50) && (remaining >= 40)) { %> 
                <div class="bar" style="width: 40%;"></div>

            <% } else if ((remaining < 60) && (remaining >= 50)) { %> 
                <div class="bar" style="width: 50%;"></div>

            <% } else if ((remaining < 70) && (remaining >= 60)) { %> 
                <div class="bar" style="width: 60%;"></div>
                
            <% } else if ((remaining < 80) && (remaining >= 70)) { %> 
                <div class="bar" style="width: 70%;"></div>

            <% } else if ((remaining < 90) && (remaining >= 80)) { %> 
                <div class="bar" style="width: 80%;"></div>

            <% } else if ((remaining < 100) && (remaining >= 90)) { %> 
                <div class="bar" style="width: 90%;"></div>

            <% } else if (remaining >= 100){ %> 
                <div class="bar" style="width: 10%;"></div>
            <% } %>
    

            <div class="label" id="progressLabel"> Fin de la partie le : <%= formattedDate%></div>
        </div>
        

        <h3 class="ui dividing header"> Participants </h3>

        <div class="ui two column grid">
            <% for (var i = 0; i < game.nbPlayer; i++) { %>
                <div class="column">

                    <% if(TableShuffle[i].name == username){%>
                        <div class="ui card" style="border: 2px solid black;">
                    <% }else{ %>
                        <div class="ui card">
                    <% } %>
                            <div class="content">
                                
                                <% if(TableShuffle[i].status == "life"){ %>
                                    <img class="right floated mini ui image" src="/assets/picture/life.png">
                                <% } else { %>
                                    <img class="right floated mini ui image" src="/assets/picture/dead.png">
                                <% } %>
                            
                            
                                <div class="header">
                                    <%= TableShuffle[i].name %>
                                </div>
                                <div class="meta">
                                    Kill : <%= TableShuffle[i].nbKill %>
                                </div>
                                
                                <br>
                                <br> 
                                
                            
                                <% if(TableShuffle[i].name == username || friends.includes(TableShuffle[i].name)){%>
                                <% }else{ %>
                                    <form action="/game/display" method="POST" style="position: absolute; bottom: 10px;">
                                        <button type="submit" class="ui very mini button">
                                            <i class="user icon"></i>
                                            add friend
                                        </button>
                                        <input type="hidden" name="add_friend_inGame" value="<%= TableShuffle[i].name %>">
                                    </form>
                                <%}%>
                            </div>
                        </div>
                </div>
            <% } %>
        </div>

        <% if(game.TableInGame[mainPlayer].status == 'dead'){ %>

            <h3 class="ui dividing header"> Vous avez été tué </h3>
        
        <% } else { %>
            <h3 class="ui dividing header"> Votre Mission </h3> 

        
            <div class="ui card reveal">
                <div class="content">
                    <div class="ui small fade reveal image">
                        <img class="visible content" src="/assets/picture/couteau.jpg" alt="Couteau">
                    </div>
                    
                    <div class="header">
                        <%= game.TableInGame[targetPlayer].name %>
                    </div>

                    <div class="description">
                        <%= game.TableInGame[targetPlayer].mission %>
                    </div>
                </div>
            </div>

            <p style="text-align: center;"><small>Click on the Knife to reveal</small></p>
    </div>
</div>

            <form id="confirmationForm" class="ui form">
                <div style="display: flex; justify-content: center; align-items: center;">
                    <button type="button" class="ui dark red labeled submit icon button">
                        <i class="bullseye icon"></i>
                        J'ai tué ma cible
                    </button>
                </div>
            </form>

        <% } %>

<!-- Modal -->
<div class="ui basic modal" id="myModal">
    <div class="ui icon header">
        <img src="/assets/picture/dead-blanc.png">
        Confirmation
    </div>
    <div class="content">
        <p>Êtes-vous sûr de vouloir confirmer que tu as tué ta cible ?</p>
        <p>Cette action sera irreversible !</p>
        <p>Je t'invite à voir avec lui/elle avant de confirmer cette élimination</p>
    </div>

    <form id="eliminateForm" action="/game/display" method="POST" style="display:none;">
        <input type="hidden" name="mort" value="kill">
    </form>

    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Annuler
        </div>
        <div class="ui green ok inverted button" id="confirmEliminate">
            <i class="checkmark icon"></i>
            Éliminer
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

<script>
    $(document).ready(function() {
        // Ouvre la modale au clic du bouton
        $('.ui.dark.red.labeled.submit.icon.button').on('click', function() {
            $('#myModal').modal('show');
        });

        // Action pour le bouton "Annuler"
        $('.cancel.button').on('click', function() {
            $('#myModal').modal('hide');
        });

        // Action pour le bouton "Éliminer"
        $('#confirmEliminate').on('click', function() {
            // Soumettre le formulaire
            $('#eliminateForm').submit();
        });
    });
</script>


<%- include('../menu.ejs') %>
<%- include('../footer.ejs') %>
