<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
<head>

    <title> AshGames_Killer </title>

    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">

    <style>

        .main.container{
            margin-top: 7em;
        }

    </style>
    
</head>

<body>

<div class="ui fixed inverted menu">

    <a href = "/" class = "header item" > Killer </a>
    <a href= "/auth/login" class="header item"> Connection </a>
    <a href= "/auth/register" class="header item"> Nouveau profil </a>
    <a href= "/game/create" class="header item"> Create Game </a>
    <a href= "/game/load" class="header item"> Load Game </a>

</div>

<div class="ui main container">

<h1> Display Game </h1>

<!-- ----------------------------------------------------------------------- -->
<!--                              Message flash                              -->
<!-- ----------------------------------------------------------------------- -->

<% if(locals.flash && locals.flash.error){ %>

    <div class="ui negative message">

        <%= flash.error %>

    </div>

<% } %>

<% if(locals.flash && locals.flash.success){ %>

    <div class="ui positive message">
    
        <%= flash.success %>
    
    </div>
    
<% } %>

<!-- ----------------------------------------------------------------------- -->
<!--                                Affi game                                -->
<!-- ----------------------------------------------------------------------- -->



    <div class="ui comments">
    
        <h3 class="ui dividing header"> Information Game </h3>

        <div class="content">

            <p> <%= "Nom de la partie : " + game.name %> </p> 
            <p> <%= "Durée de la partie : " + game.end_date + " h" %> </p> 
            <p> <%= "Nombre de Joueurs : " + game.nbPlayer %> </p> 

            <p></p>
            
            <% if(gameRunning == false ){%>
                <p> <%= "Winner => " + game.winner %> </p>
            <% } %>

            <p></p>

            <% for (var i = 0; i < game.nbPlayer;  i++ ) { %>
                <p>  ID :  <%=game.TableInGame[i].idPlayer%> - <%=game.TableInGame[i].name%> - Mission : <%=game.TableInGame[i].mission%> - Status : <%=game.TableInGame[i].status%> - Target : <%=game.TableInGame[i].target%> - Kill : <%=game.TableInGame[i].nbKill %>;  
            <% } %>
            
        </div>

    </div>

    <%if(gameRunning == true){%>
        <form action="/game/display" method="post" class="ui form">

            <div class="field">
                <label for="mort">Quel Joueur a été tué</label>
                <textarea name="mort" id="mort" style="height: 0px; width: 200px;"></textarea>
            </div>
            
            <button type="submit" class="ui blue labeled submit icon button">

                <i class="icon edit"></i>Envoyer

            </button>

        </form>
    <%}%>

    <% include ('../footer.ejs') %>