<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<%- include('../header.ejs') %>

<h1> Display End of Game </h1>

<%- include('../flash.ejs') %>

<!-- ----------------------------------------------------------------------- -->
<!--                                Affi game                                -->
<!-- ----------------------------------------------------------------------- -->



    <div class="ui comments">
    
        <h3 class="ui dividing header"> Information Game </h3>

        <div class="content">

            <p> <%= "Nom de la partie : " + game.name %> </p> 
            <p> <%= "Durée de la partie : " + game.end_date + " h" %> </p> 
            <p> <%= "Nombre de Joueurs : " + game.nbPlayer %> </p> 

            <p></p>
        
            <p> <%= "Winner => " + game.winner %> </p>

            <% for (var i = 0; i < game.nbPlayer;  i++ ) { %>
                <p> <%=game.TableInGame[i].name%> - Mission : <%=game.TableInGame[i].mission%> - Kill : <%=game.TableInGame[i].nbKill %> - Status : <%=game.TableInGame[i].status%> - Target : <%=game.TableInGame[i].target%>  
            <% } %>

        </div>

    </div>

    <%- include ('../menu.ejs') %>

    <%- include ('../footer.ejs') %>