<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
    <head>

        <title> AshGames_Killer </title>
        <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
        
    </head>
    
    <body>
    
        <div class="menu">
    
            <div class="ui pointing menu">
                <a href = "/" class="item"> Killer </a>
                <a href= "/friend" class="item"> Friend </a>
                <a href= "/game/create" class="item"> Create Game </a>
                <a href= "/game/load" class="item"> Load Game </a>
                <a class="active item"> <%= game.name %> </a>
                <a href= "/game/historique" class="item"> Historique</a>

                <a href= "../auth/disconnect" class="right item"> Disconnect </a>
            </div>
              
            <p></p>
        </div>

<div class="ui main container">

<h1> Display End of Game </h1>

<!-- ----------------------------------------------------------------------- -->
<!--                              Message flash                              -->
<!-- ----------------------------------------------------------------------- -->

<% if(locals.flash && locals.flash.error){ %>

    <div class="ui negative message">

        <%= flash.error %>

    </div>

<% } %>

<% if(locals.flash && locals.flash.success){ %>

    <div class="ui positive message">
    
        <%= flash.success %>
    
    </div>
    
<% } %>

<!-- ----------------------------------------------------------------------- -->
<!--                                Affi game                                -->
<!-- ----------------------------------------------------------------------- -->



    <div class="ui comments">
    
        <h3 class="ui dividing header"> Information Game </h3>

        <div class="content">

            <p> <%= "Nom de la partie : " + game.name %> </p> 
            <p> <%= "Durée de la partie : " + game.end_date + " h" %> </p> 
            <p> <%= "Nombre de Joueurs : " + game.nbPlayer %> </p> 

            <p></p>
        
            <p> <%= "Winner => " + game.winner %> </p>

            <% for (var i = 0; i < game.nbPlayer;  i++ ) { %>
                <p> <%=game.TableInGame[i].name%> - Mission : <%=game.TableInGame[i].mission%> - Kill : <%=game.TableInGame[i].nbKill %> - Status : <%=game.TableInGame[i].status%> - Target : <%=game.TableInGame[i].target%>  
            <% } %>

        </div>

    </div>

    <% include ('../footer.ejs') %>