<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<%- include('../header.ejs') %>

<h1> Historique </h1>

<%- include('../flash.ejs') %>

<!-- ----------------------------------------------------------------------- -->
<!--                                Affi Histo                               -->
<!-- ----------------------------------------------------------------------- -->

<% for(var i=0; i<games.length-1;i++){%>

    <div class="ui comments">
        
        <h3 class="ui dividing header"> Game : <%=games[i].name %> </h3>

        <div class="content">

            <p> <%= "Début de la partie : " + games[i].date_debut %> </p> 
            <p> <%= "Fin de la partie : " + games[i].date_fin  %> </p> 
            <p> <%= "Nombre de Joueurs : " + games[i].nb_Player %> </p> 

            <p></p>
            <p> <%= "Gagnant : " + games[i].winner %> </p> 
            <p></p>

            <% for(var j=0; j<games[i].nb_Player; j++ ){ %>
                <p> <%="=> "%> <%=games[i].allName[j]%> - Task : <%=games[i].allTask[j]%> - Status : <%=games[i].allStatus[j]%> - Kill : <%=games[i].allKill[j]%> </p>
            <%}%>

            <p></p>
            <p></p>
     
        </div>

    </div>

<%}%>

<%- include ('../menu.ejs') %>

<%- include ('../footer.ejs') %>