<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
    <head>

        <title> AshGames_Killer </title>
        <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
        
    </head>
    
    <body>
    
        <div class="menu">
    
            <div class="ui pointing menu">
                <a href = "/" class="item"> Killer </a>
                <a href= "/friend" class="item"> Friend </a>
                <a href= "/game/create" class="item"> Create Game </a>
                <a href= "/game/load" class="item"> Load Game </a>
                <a href= "/game/historique" class="active item"> Historique</a>

                <a href= "../auth/disconnect" class="right item"> Disconnect </a>
            </div>
              
            <p></p>
        </div>

<div class="ui main container">

<h1> Historique </h1>

<!-- ----------------------------------------------------------------------- -->
<!--                              Message flash                              -->
<!-- ----------------------------------------------------------------------- -->

<% if(locals.flash && locals.flash.error){ %>

    <div class="ui negative message">

        <%= flash.error %>

    </div>

<% } %>

<% if(locals.flash && locals.flash.success){ %>

    <div class="ui positive message">
    
        <%= flash.success %>
    
    </div>
    
<% } %>

<!-- ----------------------------------------------------------------------- -->
<!--                                Affi Histo                               -->
<!-- ----------------------------------------------------------------------- -->

<% for(var i=0; i<games.length-1;i++){%>

    <div class="ui comments">
        
        <h3 class="ui dividing header"> Game : <%=games[i].name %> </h3>

        <div class="content">

            <p> <%= "Début de la partie : " + games[i].date_debut %> </p> 
            <p> <%= "Fin de la partie : " + games[i].date_fin  %> </p> 
            <p> <%= "Nombre de Joueurs : " + games[i].nb_Player %> </p> 

            <p></p>
            <p> <%= "Gagnant : " + games[i].winner %> </p> 
            <p></p>

            <% for(var j=0; j<games[i].nb_Player; j++ ){ %>
                <p> <%="=> "%> <%=games[i].allName[j]%> - Task : <%=games[i].allTask[j]%> - Status : <%=games[i].allStatus[j]%> - Kill : <%=games[i].allKill[j]%> </p>
            <%}%>

            <p></p>
            <p></p>
     
        </div>

    </div>

<%}%>

    <% include ('../footer.ejs') %>