<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
<head>

    <title> AshGames_Killer </title>

    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">

    <style>

        .main.container{
            margin-top: 7em;
        }

    </style>
    
</head>

<body>

<div class="ui fixed inverted menu">

    <a href = "/" class = "header item" > Killer </a>
    <a href= "/auth/disconnect" class="header item"> Disconnect </a>
    <a href= "/friend" class="header item"> Friend </a>
    <a href= "/game/create" class="header item"> Create Game </a>
    <a href= "/game/load" class="header item"> Load Game </a>
    <a href= "/game/historique" class="header item"> Historique</a>


</div>

<div class="ui main container">

<h1> Init Game </h1>

<!-- ----------------------------------------------------------------------- -->
<!--                              Message flash                              -->
<!-- ----------------------------------------------------------------------- -->

<% if(locals.flash && locals.flash.error){ %>

    <div class="ui negative message">

        <%= flash.error %>

    </div>

<% } %>

<% if(locals.flash && locals.flash.success){ %>

    <div class="ui positive message">
    
        <%= flash.success %>
    
    </div>
    
<% } %>>

<!-- ----------------------------------------------------------------------- -->
<!--                                Init                                -->
<!-- ----------------------------------------------------------------------- -->

<form action="/game/init" method="post" class="ui form">

    <% for (var i = 0; i < game.nbPlayer;  i++ ) { %>
        <p>  Joueur <%= i+1 %> - <%=game.TableOfPlayers[i].name%> 
    <% } %>
    
    <p></p>

    Ami que vous pouvez ajouter à la partie :

    <p></p>

    <% for (var i = 0; i < listOfFriend.length; i++) { %>
        <button type="submit" class="ui blue labeled submit icon button game-button" name="answer" value="<%= listOfFriend[i] %>">
            <i class="icon edit"></i> <%= listOfFriend[i] %> 
        </button>
    <% } %>
    
    <p></p>
        
    <button type="submit" class="ui blue labeled submit icon button" name="answer" value='start'>

        <i class="icon edit"></i> Start Game

    </button>

</form>

<% include ('../footer.ejs') %>