<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<%- include('../header.ejs') %>

<div class="ui breadcrumb">
    <h2> Creation Game </h2>

    <div class="section">Name & End Date</div>

    <div class="divider"> / </div>
    <div class="active section">Add Players</div>

    <div class="divider"> / </div>
    <div class="section">Select Task</div>
</div>

<br><br>

<%- include('../flash.ejs') %>

<!-- ----------------------------------------------------------------------- -->
<!--                                Init                                -->
<!-- ----------------------------------------------------------------------- -->

<form action="/game/init" method="post" class="ui form">

    <h3 class="ui dividing header">  Joueur </h3>
    <% for (var i = 0; i < game.nbPlayer;  i++ ) { %>
        <p>  Joueur <%= i+1 %> - <%=game.TableOfPlayers[i].name%> 
    <% } %>

    <h3 class="ui dividing header"> Ami que vous pouvez ajouter à la partie </h3>
    
    <div class="ui two column grid">
        <% for (var i = 0; i < listOfFriend.length;  i++ ) { %>
            
            <% var friend = listOfFriend[i]; %>
            <% var alreadyInGame = game.TableOfPlayers.some(player => player.name === friend);%>
            
            <div class="column">
                <div class="ui card">
                    <div class="content">
                        <div class="header">
                            <%= listOfFriend[i] %>
                        </div>
                    </div>
                    
                    <div class="extra content">
                        <input type="hidden" name="del" value="<%= listOfFriend[i] %>">
                        
                        <% if(alreadyInGame){ %>
                            Déja dans la partie
                        <% } else { %>
                            <button type="submit" class="ui mini blue labeled submit icon button" name="answer" value="<%= listOfFriend[i] %>">
                                <i class="icon edit"></i>
                                Ajouter
                            </button>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <p></p>
        
    <button type="submit" class="ui green labeled submit icon button" name="answer" value='next'>

        <i class="icon edit"></i> Suivant

    </button>

</form>

<%- include ('../menu.ejs') %>

<%- include ('../footer.ejs') %>