<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=2.0">
        <title> AshGames_Killer </title>
        <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
        
    </head>
    
    <body>
    
        <div class="menu">
    
            <div class="ui pointing menu">
                <a href = "/" class="item"> Killer </a>
                <a href= "/friend" class="item"> Friend </a>
                <a href= "/game/create" class="active item"> Create Game </a>
                <a href= "/game/load" class="item"> Load Game </a>
                <a href= "/game/historique" class="item"> Historique</a>

                <a href= "../auth/disconnect" class="right item"> Disconnect </a>
            </div>
              
            <p></p>
        </div>

<div class="ui main container">

<h1> Init Game </h1>

<!-- ----------------------------------------------------------------------- -->
<!--                              Message flash                              -->
<!-- ----------------------------------------------------------------------- -->

<% if(locals.flash && locals.flash.error){ %>

    <div class="ui negative message">

        <%= flash.error %>

    </div>

<% } %>

<% if(locals.flash && locals.flash.success){ %>

    <div class="ui positive message">
    
        <%= flash.success %>
    
    </div>
    
<% } %>>

<!-- ----------------------------------------------------------------------- -->
<!--                                Init                                -->
<!-- ----------------------------------------------------------------------- -->

<form action="/game/init" method="post" class="ui form">

    <% for (var i = 0; i < game.nbPlayer;  i++ ) { %>
        <p>  Joueur <%= i+1 %> - <%=game.TableOfPlayers[i].name%> 
    <% } %>
    
    <p></p>

    Ami que vous pouvez ajouter à la partie :

    <p></p>
    
    <div class="ui link cards">
        <% for (var i = 0; i < listOfFriend.length;  i++ ) { %>
    
            <div class="card">
                <div class="image">
                <img src="">
                </div>
                <div class="content">
                <div class="header"><%= listOfFriend[i] %></div>
                <div class="meta">
                    <a>titre</a>
                </div>
                </div>
                <div class="extra content">
                    <input type="hidden" name="del" value="<%= listOfFriend[i] %>">
                    <button type="submit" class="ui mini blue labeled submit icon button" name="answer" value="<%= listOfFriend[i] %>">
                        <i class="icon edit"></i>
                        Ajouter
                    </button>
                </div>
            </div>
        <% } %>
    </div>
    <p></p>
        
    <button type="submit" class="ui green labeled submit icon button" name="answer" value='start'>

        <i class="icon edit"></i> Start Game

    </button>

</form>

<% include ('../footer.ejs') %>