<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<%- include('../header.ejs') %>

<h1> Load Game </h1>

<%- include('../flash.ejs') %>

<!-- ----------------------------------------------------------------------- -->
<!--                                ask game                                 -->
<!-- ----------------------------------------------------------------------- -->

    <form action="/game/load" method="post" class="ui form">
        
        <h2> Liste des Parties en cours </h2>
        <br>
        <div class="ui cards">
                <% for (var i = 0; i < name.length; i++) { %>
                    <button type="submit" class="ui gray labeled submit icon button game-button" style="margin-bottom:20px; width:90%" name="gameName" value="<%= name[i] %>">
                        <i class="icon game"></i> <%= name[i] %> 
                    </button>
                <% } %>
        </div>
    </form>

<%- include ('../menu.ejs') %>

<%- include ('../footer.ejs') %>