<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<%- include('../header.ejs') %>

<h1> Load Game </h1>

<%- include('../flash.ejs') %>

<!-- ----------------------------------------------------------------------- -->
<!--                                ask game                                 -->
<!-- ----------------------------------------------------------------------- -->

    <form action="/game/load" method="post" class="ui form">
        
        Liste des Parties en cours :

        <p></p>

        <% for (var i = 0; i < name.length; i++) { %>
            <button type="submit" class="ui blue labeled submit icon button game-button" name="gameName" value="<%= name[i] %>">
                <i class="icon edit"></i> <%= name[i] %> 
            </button>
        <% } %>

    </form>



<%- include ('../menu.ejs') %>

<%- include ('../footer.ejs') %>