<!-- ----------------------------------------------------------------------- -->
<!--                                 header                                  -->
<!-- ----------------------------------------------------------------------- -->

<!DOCTYPE html>
<html>
<head>

    <title> AshGames_Killer </title>

    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">

    <style>

        .main.container{
            margin-top: 7em;
        }

    </style>
    
</head>

<body>

<div class="ui fixed inverted menu">

<a href = "/" class = "header item" > Killer </a>

</div>

<div class="ui main container">

<!-- ----------------------------------------------------------------------- -->
<!--                              Message flash                              -->
<!-- ----------------------------------------------------------------------- -->

<% if(locals.flash && locals.flash.error){ %>

    <div class="ui negative message">

        <%= flash.error %>

    </div>

<% } %>

<% if(locals.flash && locals.flash.success){ %>

    <div class="ui positive message">
    
        <%= flash.success %>
    
    </div>
    
<% } %>

<!-- ----------------------------------------------------------------------- -->
<!--                                  index                                  -->
<!-- ----------------------------------------------------------------------- -->

<% if( paramGame === undefined) { %>

    <form action="/" method="post" class="ui form">

        <div class="field">
            <label for="paramGameName">Nom de la Partie</label>
            <textarea name="paramGame" id="name"></textarea>
        </div>

        <div class="field">
            <label for="paramGameTps">Temps Partie</label>
            <textarea name="paramGame" id="tps"></textarea>
        </div>

        <div class="field">
            <label for="paramGameNbPlayer">Nombre de Joueurs</label>
            <textarea name="paramGame" id="nbPlayer"></textarea>
        </div>


        <button type="submit" class="ui blue labeled submit icon button">

            <i class="icon edit"></i>Envoyer

        </button>

    </form>

<% } %>

<!-- ----------------------------------------------------------------------- -->
<!--                                affichage                                -->
<!-- ----------------------------------------------------------------------- -->

<div class="ui comments">
    <% if( paramGame !== undefined) { %>

        <h3 class="ui dividing header"> Information Game </h3>
        
        <div class="comment">

            <div class="content">

                <p> <%= "Nom de la partie : " + paramGame[0] %> </p> 
                <p> <%= "Durée de la partie : " + paramGame[1] + " h" %> </p> 
                <p> <%= "Nombre de Joueurs : " + paramGame[2] + " h" %> </p> 

            </div>

        </div>

    <% } %>

</div>

<% include ('footer') %>